{% extends layout %}

{% block head %}
<link rel="stylesheet" href="/static/styles/project.css">
{% endblock %}

{% block body %}
<main>
	<h1>projects</h1>
	<p>&ldquo;new project&rdquo;</p>
	<p>this time, for sure!</p>
	<p>project nr. {{projects.length}}</p>
	<div role="list">
	{% for project in projects %}
		<p role="listitem"><a href="/project/{{project.id}}/edit.html">{{project.name}}</a></p>
	{% endfor %}
	</div>
</main>
{% endblock %}
